<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://make-together.herokuapp.com" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/make.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>MakeTogether</h4>
                        <p class="text-muted">A social media platform for web designers and web developers to meet each other, post projects they are seeking collaborators on, and have conversations. Ruby on Rails web app utilizing jQuery and AJAX to enhance user experience. GitHub OAuth and a custom Dribbble OAuth solution. Bootstrap framework used to enhance design. Deployed live on Heroku.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://samanthavholmes.github.io/2048-clone" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/jsgame.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2048 Clone</h4>
                        <p class="text-muted">A web application where users press arrow keys to move tiles and try to get to the 2048 tile. Tiles merge when two of the same number touch. Written in vanilla javascript. Deployed live using GitHub Pages.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://the-muse-job-search.herokuapp.com" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/the-muse.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Muse Job Search</h4>
                        <p class="text-muted">A Ruby on Rails web application using The Muse's public API that allows users to search for jobs based on company, job level, job category, and/or location. jQuery and AJAX used to enhance user experience and Bootstrap framework for design and RSpec for testing. Deployed live on Heroku.<br><br><br><br><br>
                        </p>
                    </div>
                </div>

                  <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://lescinema.herokuapp.com" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/filmfest.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>LES Film Festival</h4>
                        <p class="text-muted">A web application for a film festival where users, judges, and admins can sign up, vote, leave reviews, and comments. Ruby on Rails back-end, utilizing jQuery and AJAX to enhance user experience. Bootstrap for design and RSpec for testing. Deployed live on Heroku.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://ten-recent-tweets.herokuapp.com" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/tweets.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Recent Tweets</h4>
                        <p class="text-muted">A Ruby on Rails web application built using Twitter's API that allows a user to search for the 10 most recent tweets of a user by searching their handle. Bootstrap used to enhance design. Deployed live on Heroku.
                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/samanthavholmes/TravelOverflow" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/traveloverflow.gif" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Travel Overflow</h4>
                        <p class="text-muted">A web application, built in Ruby and Sinatra using polymorphic associations, where users can ask travel related questions, answer questions, and vote and comment on questions, answers, and other comments. jQuery and AJAX used to enhance user experience. Built using RESTful conventions and custom CSS for design.
                        </p>
                    </div>
                </div>



            </div>
        </div>
    </section>