main > div {
  display:block;
  text-align: center;
}

#title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 40px;
}

.caption {
  text-align: center;
  color: white;
}

a {
  color:#00557C;
  text-decoration: none;
}

main > ul {
  position: relative;
  display:inline-block;
}

li {
  display:inline-block;
  list-style:none;
  padding:0;
  padding-bottom: 10px;
  text-align: center;
}

#wrapper {
  display: inline-block;
  width: 100%;
  margin-top: -20px;
}

#bottom {
  clear: both;
}
