article > h2 {
  text-align: center;
}

article {
  clear: both;
  top: -40px;
  border: 1px solid white;
  padding: 8px;
}

#title_date {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;

}

#title_date > span {
  font-size: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;

}

.center {
  text-align: center;
  font-weight: bold;
}

article {
  position: relative;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

#back {
  float:right;
  margin-right: -100px;
  padding-right: 20px;
  margin-top: 30px;
}

footer {
  clear:both;
}

main {
  padding-bottom: 50px;
}

#back > a {
  color: white;
  text-decoration: underline;
}

#logo {
  margin-top: 80px;
  padding-bottom: 20px;
}