main > div {
  display:block;
  text-align: center;
}

#title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 40px;
}

.caption {
  text-align: center;
  color: white;
}

a {
  color:#00557C;
  text-decoration: none;
}

main > ul {
  position: relative;
  display: inline-block;
}

li {
  display:inline-block;
  list-style:none;
  padding:0;
  text-align: center;
}

#wrapper {
  display: inline-block;
  width: 100%;
  margin-top: -20px;
  margin-left: -20px;
}

#top img {
  border-radius: 2%;
  margin: 4px;
}


#bottom img {
  clear: both;
  border-radius: 2%;
  margin: 4px;
}


