#title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 40px;
  margin-bottom: -5px;
}

.cheat {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.cheat21 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-left: 5%;
}

.cheat22 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 5%;

}

.cheat23 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
   margin-right: 20%;

}

.cheat32 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 10%;
}

.cheat33 {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-left: -10%;
}

#wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

main > ul {
  position: relative;
  display: inline-block;
}

main > #wrapper > ul > li {
  display:inline-block;
  list-style:none;
  padding:10px;
  text-align: center;
  margin-right: 4%;
  text-decoration: none;
}

h2 {
  text-decoration: underline;
}

code {
  color:#23F3E5;
}